.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-content{
  height: 60%;
  width: 55%;
  background-color: white;
  position: relative;
}
.modal-body{
  height: calc(100% - 100px);
  overflow: auto;
  padding: 20px;
}
.footer{
    display: flex;
    position: absolute;
    bottom: 20px;
    width: 100%;
    justify-content: flex-end;
}
.element-item {
  padding: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.element-item >label {
  padding-right: 15px;
}
.buttons{
  height: 40px;
  width: 120px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  margin: 0 20px;
}
.footer :first-child {
  background-color: #76B3FA
}
.footer :nth-child(2) {
  background-color: #D2D2D2
}
.filter-button{
    background-color: #1abc9c;
    border: none;
    height: 3rem;
    width: 200px;
    color: white;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.filter-button:hover, .buttons:hover {
  box-shadow: 3px 3px grey;
  outline: none;
}

.item {
  width: 40%;
  font-size: 14px;
}

.group-elements {
  display: flex;
  align-items: center;
}